In [1]:
import sqlite3

In [2]:
# Vai criar a conexao com o banco, será chamada de 
# my-db-scrapy e vai criar arquivo binario
bd = sqlite3.connect('my-db-scrapy')

In [3]:
# Criando Tabela
bd.execute('CREATE TABLE cars (id interger primary key, title text, ports text, year text)')

In [4]:
# Obriga a salvar as coisas que foram feitas
bd.commit()

In [5]:
# Exemplo de Dicionario
# Como é inteiro e primary key, ele faz automaticamente auto-increment
one_car = {'ports' : '4 portas', 'title' : 'Gol 2011', 'year' : '2010/11'}

In [6]:
# Inserindo
bd.execute('INSERT INTO cars(title, ports, year) values (:title, :ports, :year)',
          one_car)

In [7]:
bd.commit()

In [8]:
# O select retorna uma lista de tuplas
result = bd.execute('SELECT title, ports, year FROM cars')

In [9]:
for car in result:
    print(car)

('Gol 2011', '4 portas', '2010/11')

In [10]:
# Quando Termina dê close
bd.close()